.footer {
  background-color: #ffffff;
  min-height: 568px;
  min-width: 1440px;
  position: relative;
  width: 100%;
}

.footer .rectangle {
  background-color: #2f6364;
  height: 196px;
  left: 0;
  position: absolute;
  top: 372px;
  width: 1440px;
}

.footer .group {
  height: 231px;
  left: calc(50% + 30px);
  position: absolute;
  top: calc(50% - 207px);
  width: 155px;
}

.footer .text-wrapper {
  color: #1e1e1e;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: calc(50% - 78px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: calc(50% - 115px);
  width: 145px;
}

.footer .div {
  align-items: center;
  color: #525252;
  display: flex;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 48px;
  justify-content: center;
  left: calc(50% - 78px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: calc(50% - 77px);
  width: 98px;
}

.footer .text-wrapper-2 {
  align-items: center;
  color: #525252;
  display: flex;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 48px;
  justify-content: center;
  left: calc(50% - 78px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: calc(50% - 29px);
  width: 98px;
}

.footer .text-wrapper-3 {
  align-items: center;
  color: #525252;
  display: flex;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 48px;
  justify-content: center;
  left: calc(50% - 78px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: calc(50% + 19px);
  width: 115px;
}

.footer .text-wrapper-4 {
  align-items: center;
  color: #525252;
  display: flex;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 48px;
  justify-content: center;
  left: calc(50% - 78px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: calc(50% + 67px);
  width: 98px;
}

.footer .text-wrapper-5 {
  color: #1e1e1e;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: calc(50% - 636px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: calc(50% - 207px);
  width: 203px;
}

.footer .group-2 {
  height: 183px;
  left: calc(50% + 262px);
  position: absolute;
  top: calc(50% - 207px);
  width: 153px;
}

.footer .text-wrapper-6 {
  color: #1e1e1e;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: calc(50% - 76px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: calc(50% - 92px);
  width: 85px;
}

.footer .text-wrapper-7 {
  align-items: center;
  color: #525252;
  display: flex;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 48px;
  justify-content: center;
  left: calc(50% - 76px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: calc(50% - 53px);
  width: 145px;
}

.footer .text-wrapper-8 {
  align-items: center;
  color: #525252;
  display: flex;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 48px;
  justify-content: center;
  left: calc(50% - 76px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: calc(50% - 5px);
  width: 145px;
}

.footer .text-wrapper-9 {
  align-items: center;
  color: #525252;
  display: flex;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 48px;
  justify-content: center;
  left: calc(50% - 76px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: calc(50% + 44px);
  width: 145px;
}

.footer .group-3 {
  height: 183px;
  left: calc(50% + 478px);
  position: absolute;
  top: calc(50% - 207px);
  width: 153px;
}

.footer .text-wrapper-10 {
  color: #1e1e1e;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: calc(50% - 76px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: calc(50% - 91px);
  width: 117px;
}

.footer .text-wrapper-11 {
  align-items: center;
  color: #525252;
  display: flex;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 48px;
  justify-content: center;
  left: calc(50% - 76px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: calc(50% + 43px);
  width: 145px;
}

.footer .group-4 {
  display: flex;
  flex-direction: column;
  gap: 22.8px;
  height: 40px;
  left: 84px;
  position: absolute;
  top: 400px;
  width: 1274px;
}

.footer .line {
  height: 1px;
  margin-top: -1px;
  object-fit: cover;
  width: 1272px;
}

.footer .p {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  margin-left: 0;
  text-align: center;
  margin-top: 20px;
  opacity: 0.8;
}

.footer .rather-than-simply {
  color: #525252;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 84px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 133px;
  width: 510px;
}

.footer .group-5 {
  display: flex;
  gap: 2px;
  height: 49px;
  left: 84px;
  position: absolute;
  top: 251px;
  width: 328px;
}

.footer .frame {
  align-items: center;
  border: 1px solid;
  border-color: #dfdfdf;
  display: inline-flex;
  gap: 10px;
  height: 49px;
  justify-content: center;
  padding: 16px 70px 16px 16px;
  position: relative;
  width: 193px;
}

.footer .text-wrapper-12 {
  align-items: center;
  color: #525252;
  display: flex;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.footer .div-wrapper {
  align-items: center;
  background-color: #2f6364;
  display: inline-flex;
  gap: 10px;
  height: 49px;
  justify-content: center;
  padding: 16px;
  position: relative;
  width: 133px;
}

.footer .text-wrapper-13 {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}
.footer .Logo {
  width: 130px;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.footer .line-separator {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3); /* 반투명한 흰색 선 */
  margin-top: 20px; /* 로고와 선 사이 간격 */
}
