.header-login {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
}

.header-login .HEADER {
  background-color: #ffffff;
  height: 78px;
  position: relative;
  width: 1440px;
}

.header-login .group {
  height: 23px;
  left: 1198px;
  position: absolute;
  top: 29px;
  width: 25px;
}

.header-login .div {
  height: 20px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 20px;
}

.header-login .vector {
  height: 54.17%;
  left: 8.33%;
  position: absolute;
  top: 12.5%;
  width: 80.69%;
}

.header-login .img {
  height: 12.5%;
  left: 25%;
  position: absolute;
  top: 75%;
  width: 12.5%;
}

.header-login .vector-2 {
  height: 12.5%;
  left: 66.67%;
  position: absolute;
  top: 75%;
  width: 12.5%;
}

.header-login .ellipse {
  background-color: #00cc82;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 5.01px;
  height: 10px;
  left: 13px;
  position: absolute;
  top: 1px;
  width: 10px;
}

.header-login .text-wrapper {
  color: #ffffff;
  font-family: "Outfit-Regular", Helvetica;
  font-size: 8px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 5px;
}

.header-login .akar-icons-person {
  height: 20px;
  left: 1027px;
  position: absolute;
  top: 30px;
  width: 20px;
}

.header-login .group-2 {
  height: 83.33%;
  left: 13.61%;
  position: relative;
  top: 8.33%;
  width: 72.79%;
}

.header-login .vector-3 {
  height: 50%;
  left: 15.65%;
  position: absolute;
  top: -5%;
  width: 57.24%;
}

.header-login .vector-4 {
  height: 40%;
  left: -5.72%;
  position: absolute;
  top: 55%;
  width: 100%;
}

.header-login .group-wrapper {
  display: flex;
  height: 23px;
  left: 1079px;
  position: absolute;
  top: 29px;
  width: 25px;
}

.header-login .group-3 {
  height: 22.56px;
  position: relative;
  width: 27.14px;
}

.header-login .vector-5 {
  height: 74.31%;
  left: 4.17%;
  position: absolute;
  top: 8.33%;
  width: 83.33%;
}

.header-login .rectangle {
  background-color: #00a3ff;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 5.23px;
  height: 10px;
  left: 15px;
  position: absolute;
  top: 0;
  width: 10px;
}

.header-login .text-wrapper-2 {
  color: #ffffff;
  font-family: "Outfit-Regular", Helvetica;
  font-size: 8px;
  font-weight: 400;
  left: 17px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1px;
}

.header-login .group-4 {
  height: 22px;
  left: 1136px;
  position: absolute;
  top: 29px;
  width: 32px;
}

.header-login .codicon-bell {
  height: 20px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 20px;
}

.header-login .vector-6 {
  height: 87.49%;
  left: 12.5%;
  position: absolute;
  top: 6.25%;
  width: 74.77%;
}

.header-login .rectangle-2 {
  background-color: #ff0000;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 5.23px;
  height: 10px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 20px;
}

.header-login .text-wrapper-3 {
  color: #ffffff;
  font-family: "Outfit-Regular", Helvetica;
  font-size: 8px;
  font-weight: 400;
  left: 13px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1px;
}

.header-login .rectangle-3 {
  background-color: #1e1e1e;
  border-radius: 8px;
  height: 37px;
  left: 100px;
  opacity: 0.05;
  position: absolute;
  top: 20px;
  width: 295px;
}

.header-login .group-5 {
  display: flex;
  gap: 122.4px;
  height: 20px;
  left: 115px;
  position: absolute;
  top: 29px;
  width: 273px;
}

.header-login .text-wrapper-4 {
  color: #1e1e1e;
  font-family: "Outfit-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 18px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 1px;
  opacity: 0.3;
  width: 129px;
}

.header-login .eva-search-outline {
  height: 20px;
  position: relative;
  width: 20px;
}

.header-login .vector-7 {
  height: 75.02%;
  left: 12.5%;
  position: absolute;
  top: 12.5%;
  width: 75.02%;
}

.header-login .group-6 {
  display: flex;
  gap: 5.5px;
  height: 44px;
  left: 1283px;
  position: absolute;
  top: 18px;
  width: 57px;
}

.header-login .img-2 {
  background-color: #d9d9d9;
  border-radius: 22px;
  height: 44px;
  width: 44px;
}

.header-login .polygon {
  height: 4.14px;
  margin-top: 21px;
  width: 6.94px;
}

.header-login .navbar {
  background-color: #ffffff;
  height: 76px;
  position: relative;
  width: 1440px;
}

.header-login .text-wrapper-5 {
  color: #1e1e1e;
  font-family: "Outfit-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 520px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 28px;
}

.header-login .text-wrapper-6 {
  color: #1e1e1e;
  font-family: "Outfit-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 795px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 28px;
}

.header-login .text-wrapper-7 {
  color: #1e1e1e;
  font-family: "Outfit-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 896px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 28px;
}

.header-login .text-wrapper-8 {
  color: #1e1e1e;
  font-family: "Outfit-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 990px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 28px;
}

.header-login .text-wrapper-9 {
  color: #1e1e1e;
  font-family: "Outfit-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 404px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 28px;
}

.header-login .line {
  height: 2px;
  left: 381px;
  position: absolute;
  top: 1px;
  width: 85px;
}

.header-login .line-2 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 1440px;
}

.header-login .div-wrapper {
  display: flex;
  height: 18px;
  left: 637px;
  position: absolute;
  top: 28px;
  width: 35px;
}

.header-login .text-wrapper-10 {
  color: #1e1e1e;
  font-family: "Outfit-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 18px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  text-align: center;
  width: 33px;
}
